{{
lookup(
    'azure.azcollection.azure_keyvault_secret',
    'google-domains-access-token',
    vault_url='https://behemyth-vault.vault.azure.net/',
    client_id=azure.client,
    secret=azure.secret,
    tenant_id=azure.tenant
    )
}}
