api:
  dashboard: true

log:
  level: DEBUG

providers:
  docker:
    swarmMode: true
    exposedByDefault: false
  # Enable dynamic configuration
  file:
    directory: /etc/traefik/dynamic
    watch: true

entryPoints:
  web:
    address: :80
    http:
      redirections:
        entryPoint:
          to: websecure
          scheme: https
          permanent: true
  websecure:
    address: :443
    http:
      # "If a TLS section (i.e. any of its fields) is user-defined, then the default configuration does not apply at all.""
      tls:
        certResolver: le
        domains:
          - main: behemythic.com
            sans: "*.behemythic.com"
      middlewares:
        - auth-chain@file

certificatesResolvers:
  le:
    acme:
      email: asher.norland@gmail.com
      storage: /certs/acme.json
      dnsChallenge:
        provider: "googledomains"
