version: '3.8'

secrets:
  google_domains_access_token:
    file: "/etc/traefik/secrets/google_domains_access_token.secret"
  auth_config:
    file: "/etc/traefik/secrets/auth.secret"

services:
  traefik:
    image: traefik:v2.10
    ports:
      - 80:80
      - 443:443
    secrets:
      - google_domains_access_token
    environment:
      - GOOGLE_DOMAINS_ACCESS_TOKEN_FILE=/run/secrets/google_domains_access_token
    volumes:
      # Add Docker as a volume to allow Traefik to read containers
      - /var/run/docker.sock:/var/run/docker.sock:ro
      # Certificate data
      - /etc/traefik/certs:/certs
      # Configuration data
      - /etc/traefik/traefik.yml:/etc/traefik/traefik.yml:ro
      - /etc/traefik/dynamic:/etc/traefik/dynamic:ro
    networks:
      - traefik-public
    deploy:
      # For Swarm mode, service labels are used https://doc.traefik.io/traefik/providers/docker/#routing-configuration-with-labels_1
      labels:
        traefik.enable: "true"

        # Dashboard domain
        traefik.http.routers.traefik.rule: Host(`traefik.behemythic.com`)
        traefik.http.routers.traefik.entrypoints: websecure
        traefik.http.routers.traefik.tls.certresolver: le
        traefik.http.routers.traefik.service: api@internal
        traefik.http.routers.traefik.middlewares: forward-auth@file

        # Port to use inside a docker service
        traefik.http.services.traefik.loadbalancer.server.port: 8080

      mode: replicated
      replicas: 1
      placement:
        constraints: [ node.role == manager ]

  traefik-forward-auth:
    image: thomseddon/traefik-forward-auth:latest
    secrets:
      - auth_config
    environment:
      - CONFIG=/run/secrets/auth_config
    volumes:
      # Configuration data
      - /etc/traefik/auth.ini:/etc/traefik/auth.ini:ro
    networks:
      - traefik-public
    labels:

      traefik.enable: "true"
      traefik.docker.network: traefik_public

      traefik.http.routers.auth.rule: Host(`auth.behemythic.com`)
      traefik.http.routers.auth.entrypoints: websecure
      traefik.http.routers.auth.tls.certresolver: le
      traefik.http.routers.auth.tls.domains.main: behemythic.com
      traefik.http.routers.auth.tls.domains.sans: "*.behemythic.com"
      traefik.http.routers.auth.service: traefik-forward-auth
      traefik.http.routers.auth.middlewares: forward-auth@file

      traefik.http.services.traefik-forward-auth.loadbalancer.server.port: 4181

networks:
  traefik-public:
    driver: overlay
    name: traefik-public
