api:
  dashboard: true

providers:
  docker:
    swarmMode: true
    exposedByDefault: false
  # Enable dynamic configuration
  file:
    directory: /etc/traefik/dynamic

entryPoints:
  web:
    address: :80
    http:
      redirections:
        entryPoint:
          to: websecure
          scheme: https
          permanent: true
  websecure:
    address: :443

certificatesResolvers:
  le:
    acme:
      email: asher.norland@gmail.com
      storage: /certs/acme.json
      dnschallenge:
        provider: googledomains
